
body {
  display: flex;
  flex-direction: column;   
  background-color: #fff;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9em;
}
main {
  flex: 1 0 auto; 
  display: flex; 
}
aside {
  flex: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  background-color: #f2f2f2;
  font-size: 0.9em;
}

.content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
.music-head {
  
  display: flex;
  padding: 40px;
  background-color: #4e4e4e;
}
.music-list {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 5px 10px 0px;  
}
.music-list > li {
  display: flex;
  padding: 0 20px;
  min-height: 30px;
}
.music-list > li p {
  flex: 0 0 25%;
}
.music-list > li span.catty-cloud {     
  border: 1px solid black;
  font-size: 0.6em;
  padding: 6px;
}
.music-list > li:nth-child(2n) {       
  background-color: #f2f2f2;
}
.catty-music {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  font-weight: 300;
  color: #fff;
  padding-left: 50px;
}

footer {
  display: flex;
  padding: 10px;
  background-color: rgba(61 ,100 ,158, 0.9);
  color: #fff;
  margin-top: 5px;
}
.whole-footer {
  display: flex;
  flex: 2 0 auto;
  flex-direction: row;
  
}
.item2a{
  margin-left: 10px;
}
.item2b  {
  display: flex;
  flex: 0 0 40%;
  
}
.item2b li {
  display: flex;
  flex: 0 0 20%;
  color: #fff;
}