*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width:100%;
    height:100%;
    background: lightgray;
    display: flex;
}
.menu{
    width:100%;
    background-color:black;
}
.menu ul{
   
    display : inline-flex;
    font-size: 24px;
    text-decoration: none;
}
.menu ul li{
    list-style: none;
    margin : 20px 50px;
    text-decoration: none;
    color: aliceblue;
}
.link{
    text-decoration: none;
    color: aliceblue; 
}
.menu .logoimg{
    margin-top: 10px;
    margin-right: 48px;;

}


.sbtn{
    top:20px;
    right:80px;
    position: absolute;
    text-decoration: none;
    color: aliceblue;
    border:2px solid;
    border-radius: 20px;
    padding:10px;
}
.column {
    width: 33.33%;
    height: 40%;
    padding: 20px;
    margin: 30px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    display:block;
    
  }
 .btn{
    font-size: 20px;
    padding:5px;
 }
  .btn:hover{
    background: aqua;
  }
  